<div style=" font-size: 15px; text-align: left;">
  <p style="text-align: left;">GESTION LABORAL INTEGRAL DEL VALLE S.A.S.</p>
  <p style="text-align: left;">Nit: 901372313-4</p>
  <p style="text-align: left;"><i class="fa fa-envelope-o"></i> gelain.sst@gmail.com </p>
  <p style="text-align: left;"><i class="fa fa-phone"></i> 3163428017</p>
  <p style="text-align: left;"><i class="fa fa-instagram">&nbsp; </i><i class="fa fa-facebook-official"></i>
    gelain.sst</p>
  <p>{{fechaActual | date:"medium" }}</p>
</div>
<div style="font-size: 30px; text-align: center;" class="header"><b>{{dataHeaderInfo.empresa}}</b></div>
<br>
<br>
<div style="font-size: 20px; text-align: center;">
  <p>GENERACIÓN DE INFORME: {{fechaActual | date:"medium" }}</p>
  <p>Usuario: {{dataHeaderInfo.usuario}}</p>
  <p><b>{{dataHeaderInfo.titulo}}</b></p>
</div>
<br>
<br>
<br>
