<div class="ui-g">
    <div class="ui-g-12">
        <p-messages [(value)]="msgs"></p-messages>
    </div>
</div>
<br>
<!-- Apartado de la Busqueda avanzada -->
<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
    <fieldset>
        <legend><b>Búsqueda por fecha</b></legend>
        <div class="ui-g">
            <!-- <div class="ui-grid-col-4" style="text-align: center;">
                <div id="search-wrapperTercero">
                    <input type="search" id="searchTercero" (keyup.enter)="getEmpleadoByFiltro()" [(ngModel)]="buscarData" pInputText placeholder="Digite el dato a buscar">
                    <p-dropdown id="searchDropdown" [options]="tipoSelect" [(ngModel)]="selectBuscar"></p-dropdown>
                    <i class="pi pi-search"></i>
                </div>
            </div>
            <div class="ui-grid-col-2"></div> -->
            <div class="ui-g-12 ui-md-12 ui-lg-2"></div>
            <div class="ui-g-4 ui-md-4 ui-lg-1" style="margin-top: 10px;">
                <div style="text-align: right; ">
                    <label>Fecha Inicial: </label> &nbsp;
                </div>
            </div>

            <div class="ui-g-6 ui-md-6 ui-lg-2" style="margin-top: 5px;">
                <p-calendar [(ngModel)]="fechainicial" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030" [locale]="es" [showIcon]="true" dateFormat="yy-mm-dd" name="fechainicio"></p-calendar>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-1"></div>
            <div class="ui-g-4 ui-md-4 ui-lg-1" style="margin-top: 10px;">
                <div style="text-align: right; ">
                    <label>Fecha Final:</label>&nbsp;
                </div>
            </div>
            <div class="ui-g-6 ui-md-6 ui-lg-2" style="margin-top: 5px;">
                <p-calendar [(ngModel)]="fechafinal" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030" [locale]="es" [showIcon]="true" dateFormat="yy-mm-dd" name="fechafinal"></p-calendar>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-2" style="text-align: center;margin-top: 5px;">
                <button class="btnsearch" pButton label="Buscar" [disabled]="validEmp" (click)="getAreaByFiltro()"></button>
            </div>
        </div>
    </fieldset>
</div>
<br>
<div class="ui-g" *ngIf="loading">
    <div class="ui-g-12" style="text-align: center;">
        <p-progressSpinner class="animated fadeIn" [style]="{width: '50px', height: '50px'}" strokeWidth="10" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
    </div>
</div>
<br>
<fieldset>
    <legend><b><h4>REPORTE ÁREAS</h4></b></legend>
    <!-- -----------------------------------PDF ÁREAS ------------------------------------------------>
    <div class="nivel de riesgo pdf" style="position: absolute; left: -1000px; top: 0; width: 1000px;">
        <kendo-pdf-export #pdf paperSize="A4" margin="1cm" [scale]="0.5">
            <header-pdf-informe
            [dataHeaderInfo]="{empresa: nEmpresa, usuario: usuario, titulo: 'REPORTE ÁREAS'}"></header-pdf-informe>
            <kendo-grid [autoSize]="true" [scrollable]="'none'" [data]="sales9">
                <kendo-grid-column field="nombreArea" title="Áreas">
                </kendo-grid-column>
                <kendo-grid-column field="categorias.cat1" title="Sin riesgo o riesgo despreciable (Q1)">
                </kendo-grid-column>
                <kendo-grid-column field="categorias.cat2" title="Riesgo bajo (Q2)">
                </kendo-grid-column>
                <kendo-grid-column field="categorias.cat3" title="Riesgo medio (Q3)">
                </kendo-grid-column>
                <kendo-grid-column field="categorias.cat4" title="Riesgo alto (Q4)">
                </kendo-grid-column>
                <kendo-grid-column field="categorias.cat5" title="Riesgo muy alto (Q5)">
                </kendo-grid-column>
            </kendo-grid>
            <br>
            <br>
            <p-chart type="horizontalBar" [data]="data"></p-chart>
            <div style=" font-size: 17px; text-align: center; padding-top: 250px;">
                <p>{{apiUrl}}/ng/#/login</p>
            </div>
        </kendo-pdf-export>

    </div>
    <!-- -----------------------------------REPORTE ÁREAS--------------------------------------------->
    <div class="ui-g">
        <div class="ui-g-12">
            <p-panel header="REPORTE ÁREAS">
                <div>
                    <div class="example-config">
                        <button class="k-button" (click)="pdf.saveAs(text)">
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Generar Reporte
                        </button>
                    </div>
                    <br>
                    <kendo-grid [autoSize]="true" [scrollable]="'none'" [data]="sales9">
                        <kendo-grid-column field="nombreArea" title="Areas">
                        </kendo-grid-column>
                        <kendo-grid-column field="categorias.cat1" title="Sin riesgo o riesgo despreciable (Q1)">
                        </kendo-grid-column>
                        <kendo-grid-column field="categorias.cat2" title="Riesgo bajo (Q2)">
                        </kendo-grid-column>
                        <kendo-grid-column field="categorias.cat3" title="Riesgo medio (Q3)">
                        </kendo-grid-column>
                        <kendo-grid-column field="categorias.cat4" title="Riesgo alto (Q4)">
                        </kendo-grid-column>
                        <kendo-grid-column field="categorias.cat5" title="Riesgo muy alto (Q5)">
                        </kendo-grid-column>
                    </kendo-grid>
                    <br>
                    <br>
                    <p-chart type="horizontalBar" [data]="data"></p-chart>
                </div>
            </p-panel>
        </div>
    </div>
</fieldset>