<div class="layout-dashboard">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-3">

            <div class="overview-box sales" routerLink="/main/BDRDG">
                <img src="assets/layout/images/empresa.png" alt="ecuador-layout" class="image-icon" />
                <div class="overview-title"></div>
                <div class="overview-numbers">
                    INFORME DE DATOS GENERALES
                </div>
                <div class="overview-subinfo">
                    <div class="ui-g-6 progressbar">
                        <div class="progress sale"></div>
                    </div>
                    <!--  <span class="ui-g-6">23% more</span> -->
                </div>
            </div>

        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="overview-box views" routerLink="/main/TD_DOMDIM">
                <img src="assets/layout/images/icon-views.png" alt="ecuador-layout" style="margin-top:10px" />
                <div class="overview-title"></div>
                <div class="overview-numbers">
                    INFORME DE RIESGOS
                </div>
                <div class="overview-subinfo">
                    <div class="ui-g-6 progressbar">
                        <div class="progress view"></div>
                    </div>
                    <!--  <span class="ui-g-6">7% more</span> -->
                </div>
            </div>
        </div>
    </div>