<div class="layout-dashboard">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="overview-box sales" routerLink="/main/BDRDG" style="cursor: pointer;">
                <img src="assets/layout/images/empresa.png" alt="ecuador-layout" style="margin-top:10px" class="image-icon" />
                <div class="overview-title"></div>
                <div class="overview-numbers" style="height: 73px;">
                    INFORME DE DATOS GENERALES
                </div>
                <div class="overview-subinfo">
                    <!-- <div class="ui-g-6 progressbar">
                        <div class="progress sale"></div>
                    </div>
                     <span class="ui-g-6">23% more</span> -->
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="overview-box views" routerLink="/main/TD_DOMDIM" style="cursor: pointer;">
                <img src="assets/layout/images/icon-users.png" alt="ecuador-layout" style="margin-top:10px" />
                <div class="overview-title"></div>
                <div class="overview-numbers">
                    INFORME DE RIESGOS CON GRAFICAS
                </div>
                <div class="overview-subinfo">
                    <!-- <div class="ui-g-6 progressbar">
                        <div class="progress view"></div>
                    </div>
                     <span class="ui-g-6">7% more</span> -->
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="overview-box users" routerLink="/main/ReporteDetallado" style="cursor: pointer;">
                <img src="assets/layout/images/icon-views.png" alt="ecuador-layout" style="margin-top:10px" />
                <div class="overview-title"></div>
                <div class="overview-numbers">
                    INFORME DE RIESGOS DETALLADO POR EMPLEADO
                </div>
                <div class="overview-subinfo">
                    <!-- <div class="ui-g-6 progressbar">
                        <div class="progress users"></div>
                    </div>
                     <span class="ui-g-6">7% more</span> -->
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="overview-box users" routerLink="/main/reporte-areas" style="cursor: pointer;">
                <img src="assets/layout/images/icon-checkin.png" alt="ecuador-layout" style="margin-top:10px;height: 60px;" />
                <div class="overview-title"></div>
                <div class="overview-numbers" style="height: 73px;">
                    INFORME DE ÁREAS
                </div>
                <div class="overview-subinfo">
                    <!-- <div class="ui-g-6 progressbar">
                        <div class="progress users"></div>
                    </div>
                     <span class="ui-g-6">7% more</span> -->
                </div>
            </div>
        </div>
    </div>