<div style=" font-size: 15px; text-align: left;">
  <p style="text-align: left;">Actividad Física Integral</p>
  <!-- <p style="text-align: left;">Nit: {{dataHeaderInfo.nitGelain}}</p> -->
  <p style="text-align: left;"><i class="fa fa-envelope-o"></i> afi.integral@gmail.com </p>
  <p style="text-align: left;"><i class="fa fa-phone"></i> 3175753859</p>
  <p style="text-align: left;"><i class="fa fa-instagram">&nbsp; </i><i class="fa fa-facebook-official"></i>
    afi.integral</p>
  <p>{{fechaActual | date:"medium" }}</p>
</div>
<div style="font-size: 30px; text-align: center;" class="header"><b>{{dataHeaderInfo.empresa}}</b></div>
<br>
<br>
<div style="font-size: 20px; text-align: center;">
  <p>GENERACION DE INFORME: {{fechaActual | date:"medium" }}</p>
  <p>Usuario: {{dataHeaderInfo.usuario}}</p>
  <p><b>{{dataHeaderInfo.titulo}}</b></p>
</div>