<div id="search-wrapper">
    <input type="search" id="search" tooltipPosition="left" pTooltip="Filtrar registros de la tabla" pInputText placeholder="Filtrar" (input)="dt.filterGlobal($event.target.value, 'contains')">
    <i class="pi pi-search"></i>
</div>
<br><br><br>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
    <p-footer>
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>
<div class="ui-g" *ngIf="loading">
    <div class="ui-g-12" style="text-align: center;">
        <p-progressSpinner class="animated fadeIn" [style]="{width: '50px', height: '50px'}" strokeWidth="10" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
    </div>
</div>
<div class="card">
    <p-panel header="Empresas">
        <p-table #dt [value]="empresas" [rowsPerPageOptions]="[10,20,30]" [globalFilterFields]="['empid','empnit','empnombre','emprepresentante','empdepartamento','empciudad','emptelefono']" [resizableColumns]="true" [rows]="10" [paginator]="true" [rowHover]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th [ngStyle]="{'width': '8%'}"></th>
                    <th pSortableColumn="empnit" pResizableColumn>Nit
                        <p-sortIcon field="empnit"></p-sortIcon>
                    </th>
                    <th pSortableColumn="empnombre" pResizableColumn>Nombre
                        <p-sortIcon field="empnombre"></p-sortIcon>
                    </th>
                    <th class="descarto" pSortableColumn="emprepresentante" pResizableColumn>Representante
                        <p-sortIcon field="emprepresentante"></p-sortIcon>
                    </th>
                    <th class="descarto" pSortableColumn="empdepartamento" pResizableColumn>Departamento
                        <p-sortIcon field="empdepartamento"></p-sortIcon>
                    </th>
                    <th class="descarto" pSortableColumn="empciudad" pResizableColumn>Ciudad
                        <p-sortIcon field="empciudad"></p-sortIcon>
                    </th>
                    <th class="descarto" pSortableColumn="emptelefono" pResizableColumn>Telefono
                        <p-sortIcon field="emptelefono"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-columns let-emp let-i="rowIndex">
                <tr>
                    <td style="text-align:center">
                        <button pButton pRipple tooltipPosition="top" pTooltip="Editar Registro" icon="pi pi-pencil" pRipple (click)="editEmpresa(emp)" routerLink="/main/prueba/editar" class="p-button-rounded p-button-success p-mr-2" style="margin-right: .5em"></button>
                        <button pButton pRipple tooltipPosition="top" pTooltip="Eliminar Registro" icon="pi pi-trash" pRipple (click)="deleteEmpresa(emp)" class="p-button-rounded p-button-warning"></button>
                    </td>
                    <td style="text-align:left">{{emp.empnit}}</td>
                    <td style="text-align:left">{{emp.empnombre | uppercase}}</td>
                    <td style="text-align:left" class="descarto">{{emp.emprepresentante | uppercase}}</td>
                    <td style="text-align:left" class="descarto">{{emp.empdepartamento | uppercase}}</td>
                    <td style="text-align:left" class="descarto">{{emp.empciudad | uppercase}}</td>
                    <td style="text-align:left" class="descarto">{{emp.emptelefono}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    En total hay {{empresas ? empresas.length : 0 }} registros.
                </div>
            </ng-template>
        </p-table>
        <br>
        <div style="text-align:center">
            <button type="button" tooltipPosition="top" pTooltip="Agregar Registro" pButton icon="fa fa-plus" pRipple routerLink="/main/prueba/crear" (click)="newcPrueba()" label="Agregar"></button>

        </div>
    </p-panel>
</div>