<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
    <p-footer>
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>


<p-toast></p-toast>
<form [formGroup]="userform" (ngSubmit)="onSubmit()">
    <p-panel header="CUESTIONARIO ESTRES">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

            <div class="ui-g" style="margin-bottom: 10px;">
                <div class="ui-g-3"></div>
                <div class="ui-g-3"></div>
                <div class="ui-g-3">
                    <img src="https://gelainbienestarlaboral.com/GELAIN/img/Estres.png" alt="">
                </div>
            </div>



            <fieldset>
                <legend><b>Las siguientes preguntas están relacionadas con las condiciones ambientales del(los) sitio(s) o lugar(es) donde habitualmente realiza su trabajo.</b></legend>

                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <label for="float-input">Dolores en el cuello y espalda o tensión muscular</label>
                    </div>

                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <p-dropdown  [options]="a1" formControlName="estdolorcuello" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                </div>

                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">

                        <label for="float-input">Problemas gastrointestinales, úlcera péptica, acidez, problemas digestivos o del colon</label>
                    </div>

                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <p-dropdown  [options]="a1" formControlName="estprobgastrico" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">

                        <label for="float-input">Problemas respiratorios</label>
                    </div>

                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <p-dropdown  [options]="a1" formControlName="estprobrespira" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">

                        <label for="float-input">Dolor de cabeza</label>
                    </div>

                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <p-dropdown  [options]="a1" formControlName="estdolorcabeza" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">

                        <label for="float-input">Transtornos del sueño como somnolencia durante el día o desvelo en la noche</label>
                    </div>

                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <p-dropdown  [options]="a1" formControlName="esttrastsueno" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">

                        <label for="float-input">Palpitaciones en el pecho o problemas cardíacos</label>
                    </div>

                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <p-dropdown  [options]="a1" formControlName="estpalpitacion" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <label for="float-input">Cambios fuertes en el apetito</label>
                    </div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <p-dropdown  [options]="a1" formControlName="estcamapetito" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <label for="float-input">Problemas relacionados con la función de los organos genitales (impotencia, frigidez)</label>
                    </div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <p-dropdown  [options]="a1" formControlName="estprobgenital" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <label for="float-input">Dificultades en las relaciones familiares</label>
                    </div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <p-dropdown  [options]="a1" formControlName="estdiffamiliar" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <label for="float-input">Dificultad para permanecer quieto o dificultad para iniciar actividades</label>
                    </div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
            <p-dropdown  [options]="a1" formControlName="estdifquieto" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <label for="float-input">Dificultad en las relaciones con otras personas</label>
                    </div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
            <p-dropdown  [options]="a1" formControlName="estdifpersonas" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                </div>

                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <label for="float-input">Sensación de asilamiento o desinterés</label>
                    </div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
            <p-dropdown  [options]="a1" formControlName="estsensaislami" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                </div>

                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <label for="float-input">Sentimiento de sobrecarga de trabajo</label>
                    </div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
            <p-dropdown  [options]="a1" formControlName="estsobrecarga" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <label for="float-input">Dificultad para concentrarse, olvidos frecuentes</label>
                    </div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
            <p-dropdown  [options]="a1" formControlName="estdifconcentrar" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <label for="float-input">Aumento en el número de accidentes de trabajo</label>
                    </div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
            <p-dropdown  [options]="a1" formControlName="estaumentaccid" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <label for="float-input">Sentimiento de frustración, de no haber hecho lo que se quería en la vida</label>
                    </div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
            <p-dropdown  [options]="a1" formControlName="estsentfrustra" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <label for="float-input">Cansancio, tedio o desgano</label>
                    </div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
            <p-dropdown  [options]="a1" formControlName="estcansancio" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <label for="float-input">Disminución del rendimiento en el trabajo o poca creatividad</label>
                    </div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
            <p-dropdown  [options]="a1" formControlName="estdismrendimie" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <label for="float-input">Deseo de no asistir al trabajo</label>
                    </div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
            <p-dropdown  [options]="a1" formControlName="estdeseonotrab" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <label for="float-input">Bajo compromiso o poco interés con lo que se hace</label>
                    </div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
            <p-dropdown  [options]="a1" formControlName="estpocointeres" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <label for="float-input">Dificultad para tomar decisiones</label>
                    </div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
            <p-dropdown  [options]="a1" formControlName="estdifdecisiones" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <label for="float-input">Deseo de cambiar de empleo</label>
                    </div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
            <p-dropdown  [options]="a1" formControlName="estcambioempleo" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <label for="float-input">Sentimiento de soledad o miedo</label>
                    </div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
            <p-dropdown  [options]="a1" formControlName="estsentisoledad" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <label for="float-input">Sentimiento de irritabilidad, actitudes y pensamientos negativos</label>
                    </div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
            <p-dropdown  [options]="a1" formControlName="estsentinegativo" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <label for="float-input">Sentimiento de angustia, preocupación o tristeza</label>
                    </div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
            <p-dropdown  [options]="a1" formControlName="estsetangpretris" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <label for="float-input">Consumo de drogas para aliviar la tensión o los nervios</label>
                    </div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
            <p-dropdown  [options]="a1" formControlName="estconsdrogas" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <label for="float-input">Sentimientos de que "no vale nada", o "no sirve para nada"</label>
                    </div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
            <p-dropdown  [options]="a1" formControlName="estsentinosirve" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <label for="float-input">Consumo de bebidas alcohólicas o café o cigarrillo</label>
                    </div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
            <p-dropdown  [options]="a1" formControlName="estconsucigarri" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <label for="float-input">Sentimiento de que está perdiendo la razón</label>
                    </div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
            <p-dropdown  [options]="a1" formControlName="estperdirazon" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <label for="float-input">Comportamientos rígidos, obstinación o terquedad</label>
                    </div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
            <p-dropdown  [options]="a1" formControlName="estcomprigido" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <label for="float-input">Sensación de no poder manejar los problemas de la vida</label>
                    </div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
            <p-dropdown  [options]="a1" formControlName="estsensproblem" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                </div>
            </fieldset>

            <br>
            <div style="text-align:center">
                <button style="height:30px;width:120px" class="ui-button-rounded ui-button-warning" title="Atras" pRipple pButton type="button" label="Atras" class="ui-button-rounded" icon="pi pi-caret-left" [routerLink]="['/main/addExtralaboral/editar']"></button>&nbsp;
                <button style="height:30px;width:120px" class="tooltip" title="Guardar" pRipple pButton type="submit" label="Guardar" class="ui-button-rounded" icon="pi pi-check" [disabled]="!userform.valid"></button>&nbsp;
                <a style="height:30px;width:120px" pButton type="button" class="tooltip" title="Cancelar" pRipple [routerLink]="['/main/empleado']" label="Cancelar" class="ui-button-rounded ui-button-danger" icon="pi pi-times"></a>
            </div>

        </div>

    </p-panel>

    <!--     <pre>{{userform.value | json}}</pre> -->

</form>