<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
    <p-footer>
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>


<p-toast></p-toast>
<form [formGroup]="userform" (ngSubmit)="onSubmit()">
    <p-panel header="Nueva Empresa">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">





            <fieldset>
                <legend><b>Informacion</b></legend>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <input     formControlName="empnit" type="text" pInputText> 
                            <label for="float-input"  style="font-size: 13px; font-weight: bold;">Nit</label>
                        </span>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <input     formControlName="empnombre" type="text" pInputText> 
                            <label for="float-input"  style="font-size: 13px; font-weight: bold;">Nombre</label>
                        </span>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <input     formControlName="emprepresentante" type="text" pInputText> 
                            <label for="float-input"  style="font-size: 13px; font-weight: bold;">Reprecentante</label>
                        </span>
                    </div>
                </div>

                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <input     formControlName="empdepartamento" type="text" pInputText> 
                            <label for="float-input"  style="font-size: 13px; font-weight: bold;">Departamento</label>
                        </span>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <input     formControlName="empciudad" type="text" pInputText> 
                            <label for="float-input"  style="font-size: 13px; font-weight: bold;">Ciudad</label>
                        </span>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <input     formControlName="empdireccion" type="text" pInputText> 
                            <label for="float-input"  style="font-size: 13px; font-weight: bold;">Direccion</label>
                        </span>
                    </div>
                </div>

                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <input     formControlName="emptelefono" type="text" pInputText> 
                            <label for="float-input"  style="font-size: 13px; font-weight: bold;">Telefono</label>
                        </span>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <p-dropdown  [options]="estado" formControlName="empactiva" [showClear]="true"></p-dropdown>
                        </span>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">

                    </div>
                </div>

            </fieldset>
            <br>
            <fieldset>
                <legend><b>Areas</b></legend>
                <p>luego de escribir el Area presione la tecla enter para agregarla</p>
                <p-chips formControlName="emparea">
                    <ng-template let-item pTemplate="item">
                        {{item}} - (active) <i class="pi pi-inbox" style="margin-right:2em"></i>
                    </ng-template>
                </p-chips>

            </fieldset>




            <br>
            <div style="text-align:center">

                <button style="height:30px;width:120px" class="tooltip" title="Guardar" pRipple pButton type="submit" label="Guardar" class="ui-button-rounded" icon="pi pi-check" [disabled]="!userform.valid"></button>&nbsp;
                <a style="height:30px;width:120px" pButton type="button" class="tooltip" title="Cancelar" pRipple [routerLink]="['/main/listarEmpresa']" label="Cancelar" class="ui-button-rounded ui-button-danger" icon="pi pi-times"></a>
            </div>

        </div>

    </p-panel>
    <!--  <pre>{{userform.value | json}}</pre> -->

</form>