<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
    <p-footer>
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>


<p-toast></p-toast>
<form [formGroup]="userform" (ngSubmit)="onSubmit()">
    <p-panel header="NUEVA EMPRESA">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

            <fieldset>
                <legend><b>INFORMACION DE LA EMPRESA</b></legend>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <input   [class.is-invalid]="empNit"  formControlName="empnit" type="number" pInputText> 
                            <label for="float-input"  style="font-size: 13px; font-weight: bold;">Nit</label>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="empNit"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <input  [class.is-invalid]="empNombre"   formControlName="empnombre" type="text" pInputText> 
                            <label for="float-input"  style="font-size: 13px; font-weight: bold;">Nombre</label>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="empNombre"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <input  [class.is-invalid]="empRepresentante"   formControlName="emprepresentante" type="text" pInputText> 
                            <label for="float-input"  style="font-size: 13px; font-weight: bold;">Representante</label>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="empRepresentante"></p-message>
                    </div>
                </div>

                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <input  [class.is-invalid]="empDepartamento"    formControlName="empdepartamento" type="text" pInputText> 
                            <label for="float-input"  style="font-size: 13px; font-weight: bold;">Departamento</label>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="empDepartamento"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <input   [class.is-invalid]="empCiudad"  formControlName="empciudad" type="text" pInputText> 
                            <label for="float-input"  style="font-size: 13px; font-weight: bold;">Ciudad</label>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="empCiudad"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <input  [class.is-invalid]="empDireccion"   formControlName="empdireccion" type="text" pInputText> 
                            <label for="float-input"  style="font-size: 13px; font-weight: bold;">Direccion</label>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="empDireccion"></p-message>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <input  [class.is-invalid]="empTelefono"   formControlName="emptelefono" type="text" pInputText> 
                            <label for="float-input"  style="font-size: 13px; font-weight: bold;">Telefono</label>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="empTelefono"></p-message>
                        <p-message severity="error" text="la cantidad minima son 7 caracteres" *ngIf="empTelefonomin"></p-message>
                        <p-message severity="error" text="la cantidad maxima son 10 caracteres" *ngIf="empTelefonomax"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <p-dropdown [class.is-invalid]="empActiva" [options]="estado" formControlName="empactiva" [showClear]="true"></p-dropdown>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="empActiva"></p-message>
                    </div>
                    <div class="ui-g-1" style="text-align: right;">
                        <button pButton pRipple tooltipPosition="top" type="button" pTooltip="Copiar" icon="pi pi-copy" pRipple (click)="copyToClipBoard('f1')" class="p-button-rounded p-button-success p-mr-2" style="margin-right: .5em"></button>
                    </div>
                    <div class="ui-g-3" *ngIf="bandera">
                        <span class="ui-float-label">
                            <input  type="text"  style="width : 140%;" id="f1" value="{{linkformulario}}" pInputText readonly="readonly"> 
                            <label for="float-input"  style="font-size: 13px; font-weight: bold;">Link Valoración Psicólogica</label>
                        </span>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-7"></div>
                    <div class="ui-g-1" style="text-align: right;">
                        <button pButton pRipple tooltipPosition="top" type="button" pTooltip="Copiar" icon="pi pi-copy" pRipple (click)="copyToClipBoard('f2')" class="p-button-rounded p-button-success p-mr-2" style="margin-right: .5em"></button>
                    </div>
                    <div class="ui-g-3" *ngIf="bandera">
                        <span class="ui-float-label">
                            <input  type="text"  style="width : 140%;" id="f2" value="{{linkformulario2}}" pInputText readonly="readonly"> 
                            <label for="float-input"  style="font-size: 13px; font-weight: bold;">Link Valoración Física</label>
                        </span>
                    </div>
                </div>

            </fieldset>
            <br>
            <br>
            <div style="text-align:center">

                <button style="height:30px;width:120px" class="tooltip" title="Guardar" pRipple pButton type="submit" label="Guardar" class="ui-button-rounded" icon="pi pi-check" [disabled]="!userform.valid"></button>&nbsp;
                <a style="height:30px;width:120px" pButton type="button" class="tooltip" title="Cancelar" pRipple [routerLink]="['/main/listarEmpresa']" label="Cancelar" class="ui-button-rounded ui-button-danger" icon="pi pi-times"></a>
            </div>
        </div>
    </p-panel>
    <!-- <pre>{{userform.value | json}}</pre> -->

</form>

<form [formGroup]="userformArea" (ngSubmit)="onSubmit2()">
    <p-panel header="NUEVA AREA">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">





            <fieldset>
                <legend><b>NOMBRE DEL AREAS</b></legend>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <span class="ui-float-label">
                        <input   style="width : 60%;"  formControlName="arenombre" type="text" pInputText> 
                        <label for="float-input"  style="font-size: 13px; font-weight: bold;">Nombre</label>
                    </span>

                </div>
            </fieldset>


            <br>
            <div style="text-align:center">
                <button style="height:30px;width:120px" class="tooltip" title="Guardar" pRipple pButton type="submit" label="Guardar" class="ui-button-rounded" icon="pi pi-check" [disabled]="!userformArea.valid"></button>&nbsp;
                <a style="height:30px;width:120px" pButton type="button" class="tooltip" title="Cancelar" pRipple [routerLink]="['/main/listarEmpresa']" label="Cancelar" class="ui-button-rounded ui-button-danger" icon="pi pi-times"></a>
            </div>

        </div>

    </p-panel>
    <!-- <pre>{{userform.value | json}}</pre> -->

</form>

<div class="card">
    <p-panel header="Areas">
        <p-table #dt [value]="pruebas" [globalFilterFields]="['areid','areempresa','arenombre','arefechaini','areactivo']" [resizableColumns]="true" [rows]="10" [paginator]="true" [rowHover]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="arenombre" pResizableColumn>Nombre
                    </th>
                    <th pSortableColumn="name" pResizableColumn>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-columns let-prueba let-i="rowIndex">
                <tr>
                    <td style="text-align:center">{{prueba.arenombre}}</td>
                    <td style="text-align:right">
                        <button pButton pRipple icon="pi pi-trash" class="tooltip" title="Eliminar" pRipple (click)="deletePrueba(prueba)" class="p-button-rounded p-button-warning"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <br>
        <div style="text-align:center">
            <button type="button" pButton icon="fa fa-plus" class="tooltip" title="Salir" pRipple routerLink="/main/listarEmpresa" (click)="SalirPrueba()" label="Salir"></button>

        </div>
    </p-panel>
</div>