<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
    <p-footer>
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>

<p-toast></p-toast>
<form [formGroup]="userform" (ngSubmit)="onSubmit()">
    <p-panel header="FICHA DE DATOS GENERALES">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px">

            <div class="ui-g">
                <div class="ui-g-12 ui-md-6 ui-lg-3" style="text-align: center;">
                    <img [src]="apiUrl+'/img/logo_afi.jpg'" alt="" width="60%">
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                    <img [src]="apiUrl+'/img/Datos_Generales.png'" alt="" width="100%" height="100%">
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-3" style="text-align: center;">
                    <img [src]="apiUrl+'/img/colescudo.png'" alt="" width="50%">
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                    <img style="padding-top: 40px;" [src]="apiUrl+'/img/logoJaveriana.png'" alt="" width="90%">
                </div>
            </div>
            <!-- <app-video-info [validVideo]="1"></app-video-info> -->
            <fieldset>
                <legend><b>Nuevo Empleado</b></legend>
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-12 ui-g-2" *ngIf="seccion1" style="color: red;">
                        <strong>*</strong> Campo Obligatorio 
                    </div>
                </div>
                <br>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        Número de Identificación <label style="color: red;" *ngIf="emdCedulaMarca" ><strong>*</strong></label> :
                        <input   [class.is-invalid]="emdCedula" maxlength="15" formControlName="emdcedula" type="number" pInputText > 
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdCedula"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        Nombre <label style="color: red;" *ngIf="emdNombresMarca" ><strong>*</strong></label> :
                        <input [class.is-invalid]="emdNombres" maxlength="100" formControlName="emdnombres" type="text" pInputText style="text-transform: uppercase;" > 
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdNombres"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        Apellidos <label style="color: red;" *ngIf="emdApellidosMarca" ><strong>*</strong></label> :
                        <input  [class.is-invalid]="emdApellidos" maxlength="100" formControlName="emdapellidos" type="text" pInputText style="text-transform: uppercase;"> 
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdApellidos"></p-message>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        Sexo <label style="color: red;" *ngIf="emdSexoMarca" ><strong>*</strong></label>
                        <span class="ui-float-label">
                            <p-dropdown [class.is-invalid]="emdSexo"  [options]="sexo"  formControlName="emdsexo" [showClear]="true" placeholder="Seleccione una opción" ></p-dropdown>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdSexo"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        Año de Nacimiento (AAAA-MM-DD) <label style="color: red;" *ngIf="emdFecnacidoMarca" ><strong>*</strong></label> :
                        <p-calendar formControlName="emdfecnacido" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030" [locale]="es" [showIcon]="true" dateFormat="yy-mm-dd" name="fechainicio"></p-calendar>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdFecnacido"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        Estado Civil <label style="color: red;" *ngIf="emdEstcivilMarca" ><strong>*</strong></label> :
                        <p-dropdown [class.is-invalid]="emdEstcivil" [options]="civil" formControlName="emdestcivil" [showClear]="true" placeholder="Seleccione una opción"></p-dropdown>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdEstcivil"></p-message>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        Ultimos Niveles de Estudio <label style="color: red;" *ngIf="emdNivelestudioMarca" ><strong>*</strong></label> :
                        <p-dropdown [class.is-invalid]="emdNivelestudio"  [options]="estudio" formControlName="emdnivelestudio" [showClear]="true" placeholder="Seleccione una opción"></p-dropdown>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdNivelestudio"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        Ocupación o profesión <label style="color: red;" *ngIf="emdProfesionMarca" ><strong>*</strong></label> :
                        <input   [class.is-invalid]="emdProfesion" maxlength="100"  formControlName="emdprofesion" type="text" pInputText style="text-transform: uppercase;"> 
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdProfesion"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">

                    </div>
                </div>
            </fieldset>
            <br>
            <fieldset>
                <legend><b>Lugar de residencia actual</b></legend>
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-12 ui-g-2" *ngIf="seccion2" style="color: red;">
                        <strong>*</strong> Campo Obligatorio 
                    </div>
                </div>
                <br>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        Ciudad <label style="color: red;" *ngIf="emdCiudadMarca" ><strong>*</strong></label> :
                        <input  [class.is-invalid]="emdCiudad"  maxlength="100" formControlName="emdciudad" type="text" pInputText style="text-transform: uppercase;"> 
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdCiudad"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        Departamento <label style="color: red;" *ngIf="emDepartamentoMarca" ><strong>*</strong></label> :
                        <input    [class.is-invalid]="emDepartamento" maxlength="100" formControlName="emddepartamento" type="text" pInputText style="text-transform: uppercase;"> 
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emDepartamento"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        Dirección <label style="color: red;" *ngIf="emdDireccionMarca" ><strong>*</strong></label> :
                        <input   [class.is-invalid]="emdDireccion" maxlength="100" formControlName="emddireccion" type="text" pInputText style="text-transform: uppercase;"> 
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdDireccion"></p-message>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        Teléfono ó Celular <label style="color: red;" *ngIf="emdTelefonoMarca" ><strong>*</strong></label> :
                        <input   [class.is-invalid]="emdTelefono" maxlength="100"  formControlName="emdtelefono" type="text" pInputText> 
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdTelefono"></p-message>
                        <p-message severity="error" text="la cantidad minima son 7 caracteres" *ngIf="emdTelefonomin"></p-message>
                        <p-message severity="error" text="la cantidad maxima son 10 caracteres" *ngIf="emdTelefonomax"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        Correo <label style="color: red;" *ngIf="emdEmailMarca" ><strong>*</strong></label> :
                        <input   [class.is-invalid]="emdEmail" maxlength="100" formControlName="emdemail" type="text" pInputText  placeholder="ejemplo@gmail.com"> 
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdEmail"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        Estracto de su vivienda <label style="color: red;" *ngIf="emdEstractoMarca" ><strong>*</strong></label> :
                        <p-dropdown [class.is-invalid]="emdEstracto" [options]="estrato" formControlName="emdestracto" [showClear]="true" placeholder="Seleccione una opción"></p-dropdown>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdEstracto"></p-message>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        Tipo de vivienda <label style="color: red;" *ngIf="emdTipoviviendaMarca" ><strong>*</strong></label> :
                        <p-dropdown [class.is-invalid]="emdTipovivienda" [options]="tipovivi" formControlName="emdtipovivienda" [showClear]="true" placeholder="Seleccione una opción"></p-dropdown>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdTipovivienda"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-12 ui-md-6 ui-lg-4">
                        Número de personas que dependen de usted <label style="color: red;" *ngIf="emdPersdepenMarca" ><strong>*</strong></label> :
                        <input [class.is-invalid]="emdPersdepen"   formControlName="emdpersdepen" type="number" min="0" pInputText> 
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdPersdepen"></p-message>
                    </div>
                </div>
            </fieldset>
            <br>
            <fieldset>
                <legend><b>Lugar donde trabaja actualmente</b></legend>
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-12 ui-g-2" *ngIf="seccion3" style="color: red;">
                        <strong>*</strong> Campo Obligatorio 
                    </div>
                </div>
                <br>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        Empresa :
                        <p-dropdown [class.is-invalid]="emdEmpresa"  [options]="empresa" (ngModelChange)="buscarArea($event)"  formControlName="emdempresa" [showClear]="true" placeholder="Empresas" placeholder="Seleccione una opción"></p-dropdown>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdEmpresa"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        Ciudad <label style="color: red;" *ngIf="emdTraCiudadMarca" ><strong>*</strong></label> :
                        <input  [class.is-invalid]="emdTraCiudad" maxlength="100"  formControlName="emdtraciudad" type="text" pInputText style="text-transform: uppercase;"> 
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdTraCiudad"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        Departamento <label style="color: red;" *ngIf="emdTraDepartamentoMarca" ><strong>*</strong></label> :
                        <input  [class.is-invalid]="emdTraDepartamento" maxlength="100"  formControlName="emdtradepartamento" type="text" pInputText style="text-transform: uppercase;"> 
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdTraDepartamento"></p-message>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        Sede <label style="color: red;" *ngIf="emdZonaMarca" ><strong>*</strong></label> :
                        <input  [class.is-invalid]="emdZona"  maxlength="50" formControlName="emdzona" type="text" pInputText style="text-transform: uppercase;"> 
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdZona"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        Nombre del Cargo <label style="color: red;" *ngIf="emdCargoMarca" ><strong>*</strong></label> :
                        <input  [class.is-invalid]="emdCargo"  maxlength="60" formControlName="emdcargo" type="text" pInputText style="text-transform: uppercase;"> 
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdCargo"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        Tipo de Cargo <label style="color: red;" *ngIf="emdTipodecargoMarca" ><strong>*</strong></label> :
                        <p-dropdown [class.is-invalid]="emdTipodecargo" [options]="cargo" formControlName="emdtipodecargo" [showClear]="true" placeholder="Seleccione una opción"></p-dropdown>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdTipodecargo"></p-message>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        Áreas <label style="color: red;" *ngIf="emdAreaMarca" ><strong>*</strong></label> :
                        <p-dropdown [class.is-invalid]="emdArea" [options]="area" formControlName="emdarea" [showClear]="true" placeholder="Seleccione una opción"></p-dropdown>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdArea"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        Tipo de Contrato <label style="color: red;" *ngIf="emdTipocontratoMarca" ><strong>*</strong></label> :
                        <p-dropdown [class.is-invalid]="emdTipocontrato" [options]="tContrato" formControlName="emdtipocontrato" [showClear]="true" placeholder="Seleccione una opción"></p-dropdown>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdTipocontrato"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        Tipo de Salario <label style="color: red;" *ngIf="emdTiposalarioMarca" ><strong>*</strong></label> :
                        <p-dropdown [class.is-invalid]="emdTiposalario"  [options]="tsalario" formControlName="emdtiposalario" [showClear]="true" placeholder="Seleccione una opción"></p-dropdown>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdTiposalario"></p-message>
                    </div>
                </div>
                <b><p>NOTA: Si lleva menos de un año coloque (-1). Si no responde coloque cero (0) en los siguientes campos : </p></b>
                <br>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        Cuantos Años lleva en la Empresa <label style="color: red;" *ngIf="emdTiempolabMarca" ><strong>*</strong></label> :
                        <input [class.is-invalid]="emdTiempolab"  oninput="if( this.value.length > 3 ) this.value = this.value.slice(0,3)" formControlName="emdtiempolab" type="number" min="-1" (ngModelChange)="numeromax()"  pInputText> 
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdTiempolab"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        Cuantos años en el Cargo <label style="color: red;" *ngIf="emdTiemcargolabMarca" ><strong>*</strong></label> :
                        <input  [class.is-invalid]="emdTiemcargo" oninput="if( this.value.length > 3 ) this.value = this.value.slice(0,3)"  formControlName="emdtiemcargo" type="number" min="-1" max="{{nummax}}" (ngModelChange)="validaciontiempos()" pInputText> 
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdTiemcargo"></p-message>
                        <p-message severity="error" text="Este campo no puede ser mayor al tiempo en la empresa" *ngIf="bandera"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        Horas de trabajo al día <label style="color: red;" *ngIf="emdHorasdiaMarca" ><strong>*</strong></label> :
                        <input  [class.is-invalid]="emdHorasdia"   formControlName="emdhorasdia" type="number" min="0" pInputText> 
                        <p-message severity="error" text="Este campo es requerido,Debe ser entero" *ngIf="emdHorasdia"></p-message>
                    </div>
                </div>
                <br>
            </fieldset>
            <br>
            <div style="text-align:center">
                <button style="height:30px;width:120px" class="tooltip" title="Guardar" pRipple pButton type="submit" label="Guardar" class="ui-button-rounded" icon="pi pi-check" [disabled]="!userform.valid || validSave"></button>&nbsp;
                <a style="height:30px;width:120px" pButton type="button" class="tooltip" title="Cancelar" pRipple [routerLink]="['/main/empleado']" label="Cancelar" class="ui-button-rounded ui-button-danger" icon="pi pi-times"></a>
            </div>
        </div>
    </p-panel>
    <!-- <pre>{{nummax}}</pre> -->
    <!-- <pre>{{userform.value | json}}</pre> -->
    <!--     <pre>{{userformFormaA.value | json}}</pre> -->
</form>