<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
    <p-footer>
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>


<p-toast></p-toast>
<form [formGroup]="userform" (ngSubmit)="onSubmit()">
    <p-panel header="FICHA DE DATOS GENERALES">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px">

            <div class="ui-g">
                <div class="ui-g-3">
                    <img src="https://gelainbienestarlaboral.com/GELAIN/img/logo_gelain.jpg" alt="" width="60%">
                </div>
                <div class="ui-g-3">
                    <img src="https://gelainbienestarlaboral.com/GELAIN/img/Datos_Generales.png" alt="" width="100%" height="100%">
                </div>
                <div class="ui-g-3" style="text-align: center;">
                    <img src="https://gelainbienestarlaboral.com/GELAIN/img/colescudo.png" alt="" width="50%">
                </div>
                <div class="ui-g-3">
                    <img style="padding-top: 40px;" src="https://gelainbienestarlaboral.com/GELAIN/img/logoJaveriana.png" alt="" width="90%">
                </div>
            </div>



            <fieldset>
                <legend><b>Nuevo Empleado</b></legend>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <input   [class.is-invalid]="emdCedula"  formControlName="emdcedula" type="number" pInputText> 
                            <label for="float-input" style="font-size: 15px; ">Numero de Identificacion</label>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdCedula"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <input [class.is-invalid]="emdNombres"  formControlName="emdnombres" type="text" pInputText style="text-transform: uppercase;"> 
                            <label for="float-input" style="font-size: 15px; "> Nombre</label>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdNombres"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <input  [class.is-invalid]="emdApellidos"  formControlName="emdapellidos" type="text" pInputText style="text-transform: uppercase;"> 
                            <label for="float-input" style="font-size: 15px; ">Apellido</label>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdApellidos"></p-message>
                    </div>
                </div>

                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <p-dropdown [class.is-invalid]="emdSexo"  [options]="sexo"  formControlName="emdsexo" [showClear]="true"  ></p-dropdown>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdSexo"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <!-- <p-calendar  [class.is-invalid]="emdFecnacido" formControlName="emdfecnacido" [locale]="es" [showIcon]="true" dateFormat="yy-mm-dd" [monthNavigator]="true"  showButtonBar="true"></p-calendar>
                            <label for="float-input" style="font-size: 15px; ">Año de Nacimiento</label> -->
                            <input   [class.is-invalid]="emdFecnacido"  formControlName="emdfecnacido" type="text" pInputText> 
                            <label  style="font-size: 15px; ">Año de Nacimiento (AAAA-MM-DD)</label>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdFecnacido"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <p-dropdown [class.is-invalid]="emdEstcivil" [options]="civil" formControlName="emdestcivil" [showClear]="true"></p-dropdown>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdEstcivil"></p-message>
                    </div>
                </div>

                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <p-dropdown [class.is-invalid]="emdNivelestudio"  [options]="estudio" formControlName="emdnivelestudio" [showClear]="true"></p-dropdown>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdNivelestudio"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <input   [class.is-invalid]="emdProfesion"  formControlName="emdprofesion" type="text" pInputText style="text-transform: uppercase;"> 
                            <label for="float-input" style="font-size: 15px; ">Ocupacion o profesion</label>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdProfesion"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">

                    </div>
                </div>
            </fieldset>
            <br>
            <fieldset>
                <legend><b>Lugar de residencia actual</b></legend>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <input  [class.is-invalid]="emdCiudad"   formControlName="emdciudad" type="text" pInputText style="text-transform: uppercase;"> 
                            <label for="float-input" style="font-size: 15px; ">Ciudad</label>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdCiudad"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <input    [class.is-invalid]="emDepartamento"  formControlName="emddepartamento" type="text" pInputText style="text-transform: uppercase;"> 
                            <label for="float-input" style="font-size: 15px; ">Departamento</label>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emDepartamento"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <input   [class.is-invalid]="emdDireccion"  formControlName="emddireccion" type="text" pInputText style="text-transform: uppercase;"> 
                            <label for="float-input" style="font-size: 15px; ">Direccion</label>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdDireccion"></p-message>
                    </div>
                </div>

                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <input   [class.is-invalid]="emdTelefono"   formControlName="emdtelefono" type="text" pInputText> 
                            <label for="float-input" style="font-size: 15px; ">Telefono</label>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdTelefono"></p-message>
                        <p-message severity="error" text="la cantidad minima son 7 caracteres" *ngIf="emdTelefonomin"></p-message>
                        <p-message severity="error" text="la cantidad maxima son 10 caracteres" *ngIf="emdTelefonomax"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <input   [class.is-invalid]="emdEmail"  formControlName="emdemail" type="text" pInputText style="text-transform: uppercase;"> 
                            <label for="float-input" style="font-size: 15px; ">Correo</label>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdEmail"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <p-dropdown [class.is-invalid]="emdEstracto" [options]="estrato" formControlName="emdestracto" [showClear]="true"></p-dropdown>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdEstracto"></p-message>
                    </div>
                </div>




                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <div style="width: 245px;">
                        <span class="ui-float-label">
                            <p-dropdown [class.is-invalid]="emdTipovivienda" [options]="tipovivi" formControlName="emdtipovivienda" [showClear]="true"></p-dropdown>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdTipovivienda"></p-message>
                    </div>

                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-4">
                    <span class="ui-float-label">
                        <input [class.is-invalid]="emdPersdepen"  style="width : 90%; heigth : 1%"  formControlName="emdpersdepen" type="number" min="0" pInputText> 
                        <label for="float-input" style="font-size: 13px; ">Numero de personas que dependen de usted</label>
                    </span>
                    <p-message severity="error" text="Este campo es requerido" *ngIf="emdPersdepen"></p-message>
                </div>
            </fieldset>
            <br>
            <fieldset>
                <legend><b>Lugar donde trabaja actualmente</b></legend>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <p-dropdown [class.is-invalid]="emdEmpresa"  [options]="empresa" (ngModelChange)="buscarArea()" formControlName="emdempresa" [showClear]="true" placeholder="Empresas">
                            </p-dropdown>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdEmpresa"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <!-- <input  [class.is-invalid]="emdArea"   formControlName="emdarea" type="text" pInputText> -->
                            <p-dropdown [class.is-invalid]="emdArea" [options]="area" formControlName="emdarea" [showClear]="true" placeholder="Areas">
                            </p-dropdown>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdArea"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <input  [class.is-invalid]="emdCargo"   formControlName="emdcargo" type="text" pInputText style="text-transform: uppercase;"> 
                            <label for="float-input" style="font-size: 15px; ">Nombre del Cargo</label>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdCargo"></p-message>
                    </div>
                </div>

                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <p-dropdown [class.is-invalid]="emdTipodecargo" [options]="cargo" formControlName="emdtipodecargo" [showClear]="true"></p-dropdown>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdTipodecargo"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <p-dropdown [class.is-invalid]="emdTipocontrato" [options]="tContrato" formControlName="emdtipocontrato" [showClear]="true"></p-dropdown>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdTipocontrato"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <p-dropdown [class.is-invalid]="emdTiposalario"  [options]="tsalario" formControlName="emdtiposalario" [showClear]="true"></p-dropdown>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdTiposalario"></p-message>
                    </div>
                </div>


                <b><p>NOTA: Si lleva menos de un año coloque (-1). Si no responde coloque cero (0) en los siguientes campos : </p></b>

                <br>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <input [class.is-invalid]="emdTiempolab"  formControlName="emdtiempolab" type="number" min="-1" (ngModelChange)="numeromax()"  pInputText> 
                            <label for="float-input" style="font-size: 15px; ">Cuantos Años lleva en la Empresa</label>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdTiempolab"></p-message>
                        <!-- <p-message severity="error" text="no puede ser menor a -1" *ngIf="bandera2"></p-message> -->
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <input  [class.is-invalid]="emdTiemcargo"   formControlName="emdtiemcargo" type="number" min="-1" max="{{nummax}}" (ngModelChange)="validaciontiempos()"  pInputText> 
                            <label for="float-input" style="font-size: 15px; ">Cuantos años en el Cargo</label>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdTiemcargo"></p-message>
                        <p-message severity="error" text="Este campo no puede ser mayor al tiempo en la empresa" *ngIf="bandera"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <input  [class.is-invalid]="emdHorasdia"   formControlName="emdhorasdia" type="number" min="0"   pInputText> 
                            <label for="float-input" style="font-size: 15px; ">Horas de trabajo al día</label>
                        </span>
                        <p-message severity="error" text="Este campo es requerido,Debe ser entero" *ngIf="emdHorasdia"></p-message>
                    </div>
                </div>
                <b><p>Estado actual del empleado : </p></b>

                <br>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-3">
                        <span class="ui-float-label">
                            <p-dropdown [class.is-invalid]="emdActivo"  [options]="estado" formControlName="emdactivo" [showClear]="true"></p-dropdown>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="emdActivo"></p-message>
                    </div>

                </div>

                <br>

            </fieldset>




            <br>
            <div style="text-align:center">

                <button style="height:30px;width:120px" class="tooltip" title="Guardar" pRipple pButton type="submit" label="Guardar" class="ui-button-rounded" icon="pi pi-check" [disabled]="!userform.valid"></button>&nbsp;
                <a style="height:30px;width:120px" pButton type="button" class="tooltip" title="Cancelar" pRipple [routerLink]="['/main/empleado']" label="Cancelar" class="ui-button-rounded ui-button-danger" icon="pi pi-times"></a>
            </div>

        </div>

    </p-panel>
    <!-- <pre>{{nummax}}</pre> -->
    <!-- <pre>{{userform.value | json}}</pre> -->
    <!--     <pre>{{userformFormaA.value | json}}</pre> -->

</form>