<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
    <div class="ui-grid-row" style="margin-bottom: 5px;">
        <div class="ui-grid-col-12">
            <div style="text-align: left;">
                <button style="width: 100px;" pButton type="button" icon="pi pi-angle-left" class="p-button-rounded p-button-success p-mr-2" (click)="backClicked()" label="Regresar"></button>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
    <p-footer>
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>


<form [formGroup]="userform" (ngSubmit)="onSubmit()">
    <p-panel header="NUEVO CONTACTO">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

            <fieldset>
                <legend><b>INFORMACION DEL CONTACTO</b></legend>
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-12 ui-g-2" *ngIf="seccion1" style="color: red;">
                        <strong>*</strong> Campo Obligatorio 
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-12 ui-md-6 ui-lg-3" style="padding: 15px;">
                        <span class="ui-float-label">
                            <input  [class.is-invalid]="connombre" maxlength="60"  formControlName="connombre" type="text" pInputText> 
                            <label for="float-input"  style="font-size: 13px; font-weight: bold;">Nombre 
                                <label style="color: red;" *ngIf="connombreMarca" ><strong>*</strong></label></label>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="conNombre"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3" style="padding: 15px;">
                        <span class="ui-float-label">
                            <input  [class.is-invalid]="contelefono" maxlength="60"  formControlName="contelefono" type="text" pInputText> 
                            <label for="float-input"  style="font-size: 13px; font-weight: bold;">Teléfono  
                                <label style="color: red;" *ngIf="contelefonoMarca" ><strong>*</strong></label></label>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="conTelefono"></p-message>
                        <p-message severity="error" text="la cantidad minima son 7 caracteres" *ngIf="conTelefonomin"></p-message>
                        <p-message severity="error" text="la cantidad maxima son 10 caracteres" *ngIf="conTelefonomax"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3" style="padding: 15px;">
                        <span class="ui-float-label">
                            <input  [class.is-invalid]="condireccion" maxlength="60"   formControlName="condireccion" type="text" pInputText> 
                            <label for="float-input"  style="font-size: 13px; font-weight: bold;">Dirección
                                <label style="color: red;" *ngIf="condireccionMarca" ><strong>*</strong></label></label>
                        </span>
                 
                        <p-message severity="error" text="Este campo es requerido" *ngIf="conDireccion"></p-message>
                    </div>
                </div>

                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-12 ui-md-6 ui-lg-3" style="padding: 15px;">
                        <span class="ui-float-label">
                            <input   [class.is-invalid]="concorreo" maxlength="60" formControlName="concorreo" type="text" pInputText> 
                            <label for="float-input"  style="font-size: 13px; font-weight: bold;">Email
                                <label style="color: red;" *ngIf="concorreoMarca" ><strong>*</strong></label></label>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="conCorreo"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3" style="padding: 15px;">
                        <span class="ui-float-label">
                            <input  [class.is-invalid]="conatendio" maxlength="60"  formControlName="conatendio" type="text" pInputText> 
                            <label for="float-input"  style="font-size: 13px; font-weight: bold;">Atendido por
                                <label style="color: red;" *ngIf="conatendioMarca" ><strong>*</strong></label></label>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="conAtendio"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-12 ui-md-4 ui-lg-3">
                        Estados<label style="color: red;" *ngIf="conestadoMarca" ><strong>*</strong></label> :
                        <span class="ui-float-label">
                            <p-dropdown [class.is-invalid]="conestado"  [options]="estado" formControlName="conestado" [showClear]="true" placeholder="Seleccione una opción"></p-dropdown>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="conEstado"></p-message>
                    </div>
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        Fecha creación (AAAA-MM-DD) <label style="color: red;" *ngIf="confechaMarca" ><strong>*</strong></label> :
                        <p-calendar formControlName="confecha" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030" [locale]="es" [showIcon]="true" dateFormat="yy-mm-dd" name="fechainicio"></p-calendar>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="confecha"></p-message>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        Fecha actualización (AAAA-MM-DD) <label style="color: red;" *ngIf="confecultimocontMarca" ><strong>*</strong></label> :
                        <p-calendar formControlName="confecultimocont" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030" [locale]="es" [showIcon]="true" dateFormat="yy-mm-dd" name="fechainicio"></p-calendar>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="conFecultimocont"></p-message>
                    </div>
                    <!-- <div class="ui-g-12 ui-md-6 ui-lg-3" style="padding: 15px;">
                        <span class="ui-float-label">
                            <textarea rows="5" cols="30" formControlName="connota" maxlength="512" pInputTextarea></textarea> 
                            <label for="float-input"  style="font-size: 13px; font-weight: bold;">Nota
                                <label style="color: red;" *ngIf="connotaMarca" ><strong>*</strong></label></label>
                        </span>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="conNota"></p-message>
                    </div> -->
                </div>
                <div class="ui-g" style="margin-bottom: 10px;">
                    <fieldset>
                        <legend><b>NOTA</b></legend>
                        <textarea rows="5" cols="200" formControlName="connota" maxlength="512" pInputTextarea></textarea>
                        <p-message severity="error" text="Este campo es requerido" *ngIf="conNota"></p-message>
                    </fieldset>

                </div>

            </fieldset>
            <br>
            <br>
            <div style="text-align:center">

                <button style="height:30px;width:120px" class="tooltip" title="Guardar" pRipple pButton type="submit" label="Guardar" class="ui-button-rounded" icon="pi pi-check" [disabled]="!userform.valid"></button>&nbsp;
                <a style="height:30px;width:120px" pButton type="button" class="tooltip" title="Cancelar" pRipple [routerLink]="['/main/contactos']" label="Cancelar" class="ui-button-rounded ui-button-danger" icon="pi pi-times"></a>
            </div>
        </div>
    </p-panel>

</form>