<div class="layout-dashboard">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-3">

            <div class="overview-box sales" routerLink="/main/listarEmpresa">
                <img src="assets/layout/images/empresa.png" alt="ecuador-layout" class="image-icon" />
                <div class="overview-title"></div>
                <div class="overview-numbers">
                    EMPRESAS
                </div>
                <div class="overview-subinfo">
                    <div class="ui-g-6 progressbar">
                        <div class="progress sale"></div>
                    </div>
                    <span class="ui-g-6">23% more</span>
                </div>
            </div>

        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="overview-box views" routerLink="/main/empleado">
                <img src="assets/layout/images/icon-views.png" alt="ecuador-layout" style="margin-top:10px" />
                <div class="overview-title"></div>
                <div class="overview-numbers">
                    EMPLEADOS
                </div>
                <div class="overview-subinfo">
                    <div class="ui-g-6 progressbar">
                        <div class="progress view"></div>
                    </div>
                    <span class="ui-g-6">7% more</span>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="overview-box users" routerLink="/main/Reportes">
                <img src="assets/layout/images/icon-users.png" alt="ecuador-layout" />
                <div class="overview-title"></div>
                <div class="overview-numbers">
                    REPORTES
                </div>
                <div class="overview-subinfo user">
                    <i class="fa fa-circle"></i>
                    <span>Same</span>
                </div>
            </div>
        </div>

        <!--         <div class="ui-g">
            <div class="ui-g-12 ui-md-12 ui-lg-12 ui-xl-6">
                <p-panel header="Galeria">

                    <p-galleria [images]="images" [frameWidth]="90" [frameHeight]="50" panelWidth="1320" panelHeight="300" showCaption="true" styleClass="completa"></p-galleria>
                </p-panel>
            </div>

        </div> -->
    </div>