<div class="layout-dashboard">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="overview-box sales" style="cursor: pointer;" routerLink="/main/listarEmpresa">
                <img src="assets/layout/images/empresa.png" alt="ecuador-layout" class="image-icon" />
                <div class="overview-title"></div>
                <div class="overview-numbers" style="height: 48px;">
                    EMPRESAS
                </div>
                <div class="overview-subinfo user">
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="overview-box views" style="cursor: pointer;" routerLink="/main/empleado">
                <img src="assets/layout/images/icon-views.png" alt="ecuador-layout" style="margin-top:10px" />
                <div class="overview-title"></div>
                <div class="overview-numbers" style="height: 48px;">
                    EMPLEADOS
                </div>
                <div class="overview-subinfo user">
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="overview-box users" style="cursor: pointer;" routerLink="/main/ValorFisico">
                <img src="assets/layout/images/icon-users.png" alt="ecuador-layout" />
                <div class="overview-title"></div>
                <div class="overview-numbers">
                    VALORACIÓN FÍSICA
                </div>
                <div class="overview-subinfo user">
                </div>
            </div>
        </div>
    </div>