<!-- <br><br> -->
<div class="layout-dashboard">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-4">
            <div class="overview-box checkins" style="cursor: pointer;border-radius: 5px;" routerLink="/main/listarEmpresa">
                <img src="assets/layout/images/empresa.png" style="height: 55px;" alt="ecuador-layout" class="image-icon" />
                <div class="overview-title"></div>
                <div class="overview-numbers" style="height: 48px;">
                    EMPRESAS
                </div>
                <div class="overview-subinfo user">
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4">
            <div class="overview-box views" style="cursor: pointer;border-radius: 5px;" routerLink="/main/empleado">
                <img src="assets/layout/images/empleados.png" style="height: 55px;" alt="ecuador-layout" class="image-icon" />
                <div class="overview-title"></div>
                <div class="overview-numbers" style="height: 48px;">
                    VALORACIÓN PSICÓLOGICA
                </div>
                <div class="overview-subinfo user">
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4">
            <div class="overview-box users" style="cursor: pointer;border-radius: 5px;" routerLink="/main/ValorFisico">
                <img src="assets/layout/images/icon-users.png" style="height: 55px;" alt="ecuador-layout" class="image-icon" />
                <div class="overview-title"></div>
                <div class="overview-numbers" style="height: 48px;">
                    VALORACIÓN FÍSICA
                </div>
                <div class="overview-subinfo user">
                </div>
            </div>
        </div>
    </div>