<div class="ui-g">
    <div class="ui-g-12">
        <p-messages [(value)]="msgs"></p-messages>
    </div>
</div>
<br>
<!-- Apartado de la Busqueda avanzada -->
<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
    <fieldset>
        <legend><b>Búsqueda Por Fecha</b></legend>
        <div class="ui-grid-row">
            <!-- <div class="ui-grid-col-4" style="text-align: center;">
                <div id="search-wrapperTercero">
                    <input type="search" id="searchTercero" (keyup.enter)="getEmpleadoByFiltro()" [(ngModel)]="buscarData" pInputText placeholder="Digite el dato a buscar">
                    <p-dropdown id="searchDropdown" [options]="tipoSelect" [(ngModel)]="selectBuscar"></p-dropdown>
                    <i class="pi pi-search"></i>
                </div>
            </div>
            <div class="ui-grid-col-2"></div> -->
            <div class="ui-grid-col-2"></div>
            <div class="ui-grid-col-1" style="margin-top: 10px;">
                <div style="text-align: right; ">
                    <label>Fecha Inicial: </label> &nbsp;
                </div>
            </div>
            <div class="ui-grid-col-1" style="margin-top: 5px;">
                <p-calendar [(ngModel)]="fechainicial" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030" [locale]="es" [showIcon]="true" dateFormat="yy-mm-dd" name="fechainicio"></p-calendar>
            </div>
            <div class="ui-grid-col-1"></div>
            <div class="ui-grid-col-1" style="margin-top: 10px;">
                <div style="text-align: right; ">
                    <label>Fecha Final:</label>&nbsp;
                </div>
            </div>
            <div class="ui-grid-col-1" style="margin-top: 5px;">
                <p-calendar [(ngModel)]="fechafinal" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030" [locale]="es" [showIcon]="true" dateFormat="yy-mm-dd" name="fechafinal"></p-calendar>
            </div>
            <div class="ui-grid-col-2" style="text-align: center;margin-top: 5px;">
                <button class="btnsearch" pButton label="Buscar" (click)="getVFByFiltro()"></button>
            </div>
        </div>
    </fieldset>
</div>
<br>
<div class="ui-g">
    <div class="ui-g-2">
        <div id="search-wrapper">
            <input type="search" id="search" tooltipPosition="left" pTooltip="Filtrar registros de la tabla" pInputText placeholder="Filtrar" (input)="dt.filterGlobal($event.target.value, 'contains')">
            <i class="pi pi-search"></i>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
    <p-footer>
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>
<div class="ui-g" *ngIf="loading">
    <div class="ui-g-12" style="text-align: center;">
        <p-progressSpinner class="animated fadeIn" [style]="{width: '50px', height: '50px'}" strokeWidth="10" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
    </div>
</div>
<div class="card animated fadeIn fast">
    <p-panel header="VALORACIÓN DE LA CONDICIÓN FÍSICA">
        <p-table #dt [value]="vfData" [columns]="cols" [frozenColumns]="frozenCols" [scrollable]="true" frozenWidth="300px" [rowsPerPageOptions]="[10,20,30]" [globalFilterFields]="['vafcedula','vafidnombre','vafpeso','vaftalla','vafimc','vafperimetro','vaf_fecha_creacion']"
            [rows]="10" [paginator]="true" [rowHover]="true">
            <ng-template pTemplate="frozencolgroup">
                <colgroup>
                    <col style="width:120px;">
                    <col style="width:180px;">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="frozenheader">
                <tr>
                    <th>Opciones</th>
                    <th pSortableColumn="vafcedula">Cédula
                        <p-sortIcon field="vafcedula"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="frozenbody" let-rowData>
                <tr>
                    <td style="text-align:center;height: 42.8px;">
                        <button pButton tooltipPosition="top" pTooltip="Editar Registro" pRipple icon="pi pi-pencil" title="Editar" pRipple (click)="editPrueba(rowData)" routerLink="/main/FormValorFisico/editar" class="p-button-rounded p-button-success p-mr-2" style="margin-right: .5em"></button>
                        <button pButton tooltipPosition="top" pTooltip="Eliminar Registro" pRipple icon="pi pi-trash" title="Eliminar" pRipple (click)="deletePrueba(rowData)" class="p-button-rounded p-button-warning"></button>
                    </td>
                    <td style="height: 42.8px;">{{rowData.vafcedula}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td style="height: 43.13px;" *ngFor="let col of columns">
                        <div *ngIf="col.field === 'vaf_fecha_creacion' else elseData">
                            {{rowData[col.field] | date:'dd-MM-yyyy, h:mm a'}}
                        </div>
                        <ng-template #elseData>
                            {{rowData[col.field]| uppercase}}
                        </ng-template>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    En total hay {{vfData ? vfData.length : 0 }} registros.
                </div>
            </ng-template>
        </p-table>
        <br>
        <div style="text-align:center">
            <button type="button" pButton tooltipPosition="top" pTooltip="Agregar Registro" icon="fa fa-plus" pRipple routerLink="/main/FormValorFisico/crear" (click)="newcPrueba()" label="Agregar"></button>
        </div>
    </p-panel>
</div>