<div class="layout-wrapper">
    <div class="layout-topbar">
        <a href="#" id="topbar-menu-button" (click)="app.onMenuButtonClick($event)">
            <i class="fa fa-angle-left arrow"></i>
            <i class="fa fa-angle-up mobile"></i>
        </a>
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-12 ui-lg-7 ui-xl-7">
                    <div class="search-input" *ngIf="imgvalidator">
                        <img class="cursor" src="https://afiintegral.com.co/afi/img/logotoobar.jpg" style="width: 165.69px; height: 43.83px;padding-bottom: 5%; border-radius: 5px;" alt="logo-afi" routerLink="/main/dashboard">
                    </div>
                    <a href="/#/main/dashboard" *ngIf="imgvalidator" class="logo-container">
                        <span style="font-size: 2em;color: aliceblue;">AFI Acondicionamiento Físico Integral</span>
                    </a>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-3 ui-xl-3">
                    <a class="logo-container">
                        <span class="ui-float-label">
                            <div class="ui-g" *ngIf="loading" style="text-align: center;">
                                <div class="ui-g-12" style="text-align: center;">
                                    <p-progressSpinner class="animated fadeIn" [style]="{width: '20px', height: '20px'}" strokeWidth="10" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
                                </div>
                            </div>
                            <p-dropdown *ngIf="!loading" [options]="empresa" (onChange)="buscarActualizarData()" [(ngModel)]="empresaSelect" placeholder="Seleccione una empresa" >
                                <ng-template let-empresa>
                                    <div class="ui-helper-clearfix" style="height: 25px;">
                                        <div style="font-size:14px;float:left;margin-top:4px">{{empresa.label}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </span>
                    </a>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-2 ui-xl-2">
                    <a id="topbar-profile-menu-button" href="#" (click)="app.onTopbarMenuButtonClick($event)">
                        <span style="font-size: 17px;color: aliceblue;">{{nombre | uppercase}}</span>
                        <img src="{{imagenfin}}" alt="ecuador-layout" class='imgRedonda' />
                        <i class="fa fa-sort-desc"></i>
                    </a>
                </div>
            </div>

            <ul id="topbar-usermenu" class="fadeInDown animated" [ngClass]="{'usermenu-active': app.topbarMenuActive}">
                <li (click)="salir()">
                    <a href="#" (click)="app.onTopbarSubItemClick($event)">
                        <i class="fa fa-fw fa-sign-out"></i>
                        <span class="topbar-item-name">Cerrar sesión</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>