<div class="layout-sidebar" (click)="onMenuClick($event)">
    <div class="layout-menu-title">MENU PRINCIPAL</div>
    <p-scrollPanel #layoutMenuScroller [style]="{height: '50%'}">
        <div class="menu-scroll-content">
            <!-- <ul app-submenu [item]="model" root="true" class="layout-menu" visible="true" [reset]="reset" parentActive="true"></ul> -->
            <p-menubar [model]="model" class="layout-menu" visible="true" parentActive="true"></p-menubar>
        </div>
    </p-scrollPanel>
</div>