<div class="layout-topbar">




    <a href="/" class="logo-container">
        <span style="font-size: 2em;color: aliceblue;">GELAIN Gestión Laboral Integral</span>
    </a>

    <a id="topbar-profile-menu-button" href="#" (click)="app.onTopbarMenuButtonClick($event)">
        <span>jennifer@gmail.com</span>
        <img src="assets/layout/images/avatar.png" alt="ecuador-layout" class="topbar-profile" />
        <i class="fa fa-sort-desc"></i>
    </a>

    <ul id="topbar-usermenu" class="fadeInDown animated" [ngClass]="{'usermenu-active': app.topbarMenuActive}">



        <li #notifications [ngClass]="{'menuitem-active':app.activeTopbarItem === notifications}">
            <a routerLink="/login">
                <i class="fa fa-fw fa-bell-o"></i>
                <span class="topbar-item-name">cerrar Sesion</span>
            </a>

        </li>
    </ul>
</div>