<div class="ui-g">
    <div class="ui-g-12">
        <p-messages [(value)]="msgs"></p-messages>
    </div>
</div>
<br>
<!-- Apartado de la Busqueda avanzada -->
<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
    <fieldset>
        <legend><b>Búsqueda Por Fecha</b></legend>
        <div class="ui-grid-row">
            <!-- <div class="ui-grid-col-4" style="text-align: center;">
                <div id="search-wrapperTercero">
                    <input type="search" id="searchTercero" (keyup.enter)="getEmpleadoByFiltro()" [(ngModel)]="buscarData" pInputText placeholder="Digite el dato a buscar">
                    <p-dropdown id="searchDropdown" [options]="tipoSelect" [(ngModel)]="selectBuscar"></p-dropdown>
                    <i class="pi pi-search"></i>
                </div>
            </div>
            <div class="ui-grid-col-2"></div> -->
            <div class="ui-grid-col-2"></div>
            <div class="ui-grid-col-1" style="margin-top: 10px;">
                <div style="text-align: right; ">
                    <label>Fecha Inicial: </label> &nbsp;
                </div>
            </div>

            <div class="ui-grid-col-1" style="margin-top: 5px;">
                <p-calendar [(ngModel)]="fechainicial" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030" [locale]="es" [showIcon]="true" dateFormat="yy-mm-dd" name="fechainicio"></p-calendar>
            </div>
            <div class="ui-grid-col-1"></div>
            <div class="ui-grid-col-1" style="margin-top: 10px;">
                <div style="text-align: right; ">
                    <label>Fecha Final:</label>&nbsp;
                </div>
            </div>
            <div class="ui-grid-col-1" style="margin-top: 5px;">
                <p-calendar [(ngModel)]="fechafinal" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030" [locale]="es" [showIcon]="true" dateFormat="yy-mm-dd" name="fechafinal"></p-calendar>
            </div>
            <div class="ui-grid-col-2" style="text-align: center;margin-top: 5px;">
                <button class="btnsearch" pButton label="Buscar" [disabled]="validEmp" (click)="getEmpleadoByFiltro()"></button>
            </div>
        </div>
    </fieldset>
</div>
<br>
<div id="search-wrapper">
    <input type="search" id="search" pInputText placeholder="Filtrar" (input)="dt.filterGlobal($event.target.value, 'contains')">
    <i class="pi pi-search"></i>
</div>
<br><br><br>
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
    <p-footer>
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>
<div class="ui-g" *ngIf="loading">
    <div class="ui-g-12" style="text-align: center;">
        <p-progressSpinner class="animated fadeIn" [style]="{width: '50px', height: '50px'}" strokeWidth="10" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
    </div>
</div>
<div class="card">
    <p-panel header="Empleados">
        <p-table #dt [value]="pruebas" [columns]="cols" [frozenColumns]="frozenCols" [scrollable]="true" frozenWidth="180px" [rowsPerPageOptions]="[10,20,30]" [globalFilterFields]="['emdid','emdcedula','emdnombres','emdapellidos','emddepartamento','emdciudad','emdtelefono','nomempresa', 'emdfechareg']"
            [resizableColumns]="true" [rows]="10" [paginator]="true" [rowHover]="true">
            <ng-template pTemplate="caption">
                <div class="ui-helper-clearfix" style="text-align: left">
                    <button type="button" pButton icon="pi pi-download" iconPos="left" label="EXCEL" (click)="exportExcel()" style="margin-right: 0.5em;" class="ui-button-success"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td [attr.colspan]="cols.length">
                        No se encontraron resultados
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-empleado let-i="rowIndex" let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        <div *ngIf="col.field === 'emdnombres'">
                            {{empleado.emdnombres| uppercase}} {{empleado.emdapellidos | uppercase}}
                        </div>
                        <div *ngIf="col.field === 'emdfechareg'  else elseData">
                            {{empleado[col.field]| date:'dd-MM-yyyy, h:mm a'}}
                        </div>
                        <ng-template #elseData>
                            <div *ngIf="col.field !== 'emdnombres'">
                                {{empleado[col.field]| uppercase}}
                            </div>
                        </ng-template>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    En total hay {{pruebas ? pruebas.length : 0 }} registros.
                </div>
            </ng-template>
        </p-table>
    </p-panel>
</div>