<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
    
    <div class="ui-grid-row">
        <div class="ui-grid-col-1"></div>
        <div class="ui-grid-col-10">
            <p-panel>
                <p-header>
                    <div class="ui-helper-clearfix">
                        <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">CONSENTIMIENTO INFORMADO</span>
                    </div>
                </p-header>
                
                <div style="padding: 10px;">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <h3 style="font-weight:normal; text-align:justify;margin-top: 0px;">
                                El proceso de medición e identificación de los Factores de Riesgo Psicosocial se realiza con el objetivo de identificar las condiciones psicosociales asociados con la presencia de enfermedades derivadas del estrés y establecer un plan de intervención
                                que favorezca el mejoramiento de los mismos en beneficio de la salud de la población laboral de la empresa &#185;. Este proceso cuenta con la asesoría, asistencia técnica y está dirigido por una Psicóloga especialista en
                                Seguridad y Salud en el Trabajo.
                            </h3>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <h3 class="pa-h3">
                                La información que usted suministre a través de esta encuesta será tratada de manera confidencial&#178; usada única y exclusivamente con fines preventivos, y su manejo y custodia se llevará por el personal experto dentro del sistema de Gestión en Seguridad
                                y Salud en el Trabajo de las partes interesadas garantizando su confidencialidad.
                            </h3>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <h3 class="pa-h3">
                                Al aceptar y participar, se compromete a brindar información veraz, que garantice la calidad de los datos recolectados, condición necesaria para proyectar los controles requeridos, por lo tanto, agradecemos la sinceridad para responder cada una de las
                                preguntas.
                            </h3>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <h3 class="pa-h3">
                                Este cuestionario comprende:
                            </h3>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-1" style="width: 50px;"></div>
                        <div class="ui-grid-col-11">
                            <h3 class="pa2-h3"><label style="margin-right: 13px;">1.</label>Ficha de Datos Generales.</h3>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-1" style="width: 50px;"></div>
                        <div class="ui-grid-col-11">
                            <h3 class="pa2-h3"><label style="margin-right: 10px;">2.</label>Factores de Riesgo Psicosocial Intralaboral.</h3>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-1" style="width: 50px;"></div>
                        <div class="ui-grid-col-11">
                            <h3 class="pa2-h3"><label style="margin-right: 10px;">3.</label>Factores de Riesgo Psicosocial Extralaboral.</h3>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-1" style="width: 50px;"></div>
                        <div class="ui-grid-col-11">
                            <h3 class="pa-h3"><label style="margin-right: 10px;">4.</label>Cuestionario para la Evaluación del Estré.</h3>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <h3 class="pa-h3">
                                <strong>Nota:</strong> Para ser válidos los cuestionarios deben ser respondidos en su totalidad.
                            </h3>
                        </div>
                    </div>
                    <div class="ui-grid-row" style="margin-bottom: 5px;">
                        <div class="ui-grid-col-12">
                            <h3 class="pa2-h3">
                                &#185;. Resolución 2646 de 2008.
                            </h3>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <h3 class="pa2-h3">
                                &#178;. Ley 1090 de 2006, artículo 2o, numeral cinco.
                            </h3>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-7">
                            <app-video-info [validVideo]="1"></app-video-info>
                        </div>
                    </div>
                    <br>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12" style="text-align: center;">
                            <p-checkbox [(ngModel)]="checked" binary="true"></p-checkbox>&nbsp;<label>Acepto que la participación en este proceso es <strong>Voluntaria.</strong></label>
                        </div>
                    </div>
                </div>
                <p-footer>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12" style="text-align: center;">
                            <button pButton type="button" [disabled]="!checked" icon="pi pi-check" label="Aceptar" class="ui-button-success" (click)="ingForm()" style="width: 150px;;margin-right: .25em"></button>
                            <button pButton type="button" icon="pi pi-times" label="No Acepto" class="ui-button-danger" (click)="cancelarRegistro()" style="width: 150px;;margin-right: .25em"></button>
                        </div>
                    </div>
                </p-footer>
            </p-panel>
        </div>
        <div class="ui-grid-col-1"></div>
    </div>
</div>