<div class="ui-g">
    <div class="ui-g-12">
        <p-messages [(value)]="msgs"></p-messages>
    </div>
</div>
<br>
<!-- Apartado de la Busqueda avanzada -->
<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
    <fieldset>
        <legend><b>Búsqueda Por Fecha</b></legend>
        <div class="ui-g">
            <!-- <div class="ui-grid-col-4" style="text-align: center;">
                <div id="search-wrapperTercero">
                    <input type="search" id="searchTercero" (keyup.enter)="getEmpleadoByFiltro()" [(ngModel)]="buscarData" pInputText placeholder="Digite el dato a buscar">
                    <p-dropdown id="searchDropdown" [options]="tipoSelect" [(ngModel)]="selectBuscar"></p-dropdown>
                    <i class="pi pi-search"></i>
                </div>
            </div>
            <div class="ui-grid-col-2"></div> -->
            <div class="ui-g-12 ui-md-12 ui-lg-2"></div>
            <div class="ui-g-4 ui-md-4 ui-lg-1" style="margin-top: 10px;">
                <div style="text-align: right; ">
                    <label>Fecha Inicial: </label> &nbsp;
                </div>
            </div>

            <div class="ui-g-6 ui-md-6 ui-lg-2" style="margin-top: 5px;">
                <p-calendar [(ngModel)]="fechainicial" [monthNavigator]="true" [yearNavigator]="true"
                    yearRange="1900:2030" [locale]="es" [showIcon]="true" dateFormat="yy-mm-dd"
                    name="fechainicio"></p-calendar>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-1"></div>
            <div class="ui-g-4 ui-md-4 ui-lg-1" style="margin-top: 10px;">
                <div style="text-align: right; ">
                    <label>Fecha Final:</label>&nbsp;
                </div>
            </div>
            <div class="ui-g-6 ui-md-6 ui-lg-2" style="margin-top: 5px;">
                <p-calendar [(ngModel)]="fechafinal" [monthNavigator]="true" [yearNavigator]="true"
                    yearRange="1900:2030" [locale]="es" [showIcon]="true" dateFormat="yy-mm-dd"
                    name="fechafinal"></p-calendar>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-2" style="text-align: center;margin-top: 5px;">
                <button class="btnsearch" icon="pi pi-search" pButton label="Buscar" [disabled]="validEmp"
                    (click)="getEmpleadoByFiltro()"></button>
            </div>
        </div>
    </fieldset>
</div>
<div class="ui-g" *ngIf="loading">
    <div class="ui-g-12" style="text-align: center;">
        <p-progressSpinner class="animated fadeIn" [style]="{width: '50px', height: '50px'}" strokeWidth="10"
            fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
    </div>
</div>
<br>
<div id="search-wrapper">
    <input type="search" id="search" tooltipPosition="left" pTooltip="Filtrar registros de la tabla" pInputText
        placeholder="Filtrar" (input)="dt.filterGlobal($event.target.value, 'contains')">
    <i class="pi pi-search"></i>
</div>
<br><br><br>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
    <p-footer>
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>

<div class="card">
    <p-panel header="Empleados">
        <p-table #dt [value]="empleadoData" [responsive]="true" [columns]="cols" [frozenColumns]="frozenCols"
            [scrollable]="true" frozenWidth="280px" [rowsPerPageOptions]="[10,20,30]"
            [globalFilterFields]="['emdid','emdcedula','emdnombres','emdapellidos','emddepartamento','emdciudad','emdtelefono','nomempresa','emdfechareg']"
            [resizableColumns]="true" [rows]="10" [paginator]="true" [rowHover]="true">
            <ng-template pTemplate="frozencolgroup">
                <colgroup>
                    <col style="width:120px;">
                    <col style="width:160px;">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="frozenheader">
                <tr>
                    <th>Opciones</th>
                    <th pSortableColumn="emdcedula">Cédula
                        <p-sortIcon field="emdcedula"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="frozenbody" let-empleado>
                <tr>
                    <td style="text-align:center;height: 43.13px;">
                        <button pButton pRipple tooltipPosition="top" pTooltip="Editar Registro" icon="pi pi-pencil"
                            title="Editar" pRipple (click)="editPrueba(empleado)" routerLink="/main/addempleado/editar"
                            class="p-button-rounded p-button-success p-mr-2" style="margin-right: .5em"></button>
                        <button pButton pRipple tooltipPosition="top" pTooltip="Eliminar Registro" icon="pi pi-trash"
                            title="Eliminar" pRipple (click)="deletePrueba(empleado)"
                            class="p-button-rounded p-button-warning"></button>
                    </td>
                    <td style="height: 43.13px;">{{empleado.emdcedula}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td [attr.colspan]="cols.length + 1">
                        No se encontraron resultados
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-empleado let-i="rowIndex" let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns" style="height: 43.13px;">
                        <ng-container [ngSwitch]="col.field">
                            <ng-container *ngSwitchCase="'emdnombres'">
                                {{empleado.emdnombres| uppercase}} {{empleado.emdapellidos | uppercase}}
                            </ng-container>
                            <ng-container *ngSwitchCase="'emdfechareg'">
                                {{empleado[col.field]| date:'dd-MM-yyyy, h:mm a'}}
                            </ng-container>
                            <ng-container *ngSwitchCase="'emdtipodecargo'">
                                <div style="text-align: center;">
                                    <label *ngIf="empleado[col.field] < 3">A</label>
                                    <label *ngIf="empleado[col.field] > 2">B</label>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchDefault>
                                {{empleado[col.field]| uppercase}}
                            </ng-container>
                        </ng-container>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    En total hay {{empleadoData ? empleadoData.length : 0 }} registros.
                </div>
            </ng-template>
        </p-table>
        <br>
        <div style="text-align:center">
            <button type="button" pButton icon="fa fa-plus" [disabled]="validEmp" tooltipPosition="top"
                pTooltip="Agregar Registro" (click)="confirmationForm()" label="Agregar"></button>
        </div>
    </p-panel>
</div>