<p-toast></p-toast>
<p-toast position="top-center" key="tl"></p-toast>
<div class="login-body">
    <div class="login-image">
        <div class="login-panel" style="border-radius: 10px;">
            <img src="https://gelainbienestarlaboral.com/GELAIN/img/logo_gelain.jpg" alt="Logo" />
            <form [formGroup]="loginForm" (ngSubmit)="ingresar()" id="loginform">
                <div class="ui-g-12">
                    <div class="input-wrapper">
                        <input type="text" formControlName="email" placeholder="Usuario" class="ui-inputtext ui-widget">
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="input-wrapper">
                        <input type="password" formControlName="password" placeholder="Contraseña" class="ui-inputtext ui-widget">
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-g-1"></div>
                    <div class="ui-g-10">
                        <div class="checkbox-container">
                            <button pButton type="submit" style="border-radius: 10px;" label="Iniciar Sesión"></button>
                        </div>
                    </div>
                    <div class="ui-g-1"></div>
                </div>

                <div class="separator"></div>


                <!-- <p class="subinfo">V 1.0</p> -->

            </form>

        </div>

    </div>
</div>