/* You can add global styles to this file, and also import other style files */

#search-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-flow: row-reverse nowrap;
    -ms-flex-flow: row-reverse nowrap;
    flex-flow: row-reverse nowrap;
    width: 200px;
    float: left;
}

#search-wrapper #search {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-left: 0;
    border-radius: 0 25px 25px 0;
    color: #444;
    padding: .6rem .5rem;
    font-size: 15px;
    font-weight: lighter;
    -webkit-transition: border-color .2s ease;
    transition: border-color .2s ease;
    width: 150px;
}

#search-wrapper #search+i {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 25px 0 0 25px;
    height: 40.2px;
    border-right: 0;
    color: #777;
    padding: .67rem .65rem;
    -webkit-transition: border-color .2s ease;
    transition: border-color .2s ease;
}

input {
    border-radius: 10px;
}

button {
    border-radius: 10px;
}

fieldset {
    font-family: sans-serif;
    border: 2px solid #2162b0;
    background: white;
    border-radius: 5px;
    padding: 15px;
    width: auto;
}

fieldset legend {
    background: #2162b0;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 0 0 5px white;
    margin-left: 20px;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

@keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke: #0057e7;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}

.cursor {
    cursor: pointer;
}


/* Column Priorities */

@media only all {
    th.ui-p-6,
    td.ui-p-6,
    th.ui-p-5,
    td.ui-p-5,
    th.ui-p-4,
    td.ui-p-4,
    th.ui-p-3,
    td.ui-p-3,
    th.ui-p-2,
    td.ui-p-2,
    th.ui-p-1,
    td.ui-p-1 {
        display: none;
    }
}


/* Show priority 1 at 320px (20em x 16px) */

@media screen and (min-width: 20em) {
    th.ui-p-1,
    td.ui-p-1 {
        display: table-cell;
    }
}


/* Show priority 2 at 480px (30em x 16px) */

@media screen and (min-width: 30em) {
    th.ui-p-2,
    td.ui-p-2 {
        display: table-cell;
    }
}


/* Show priority 3 at 640px (40em x 16px) */

@media screen and (min-width: 40em) {
    th.ui-p-3,
    td.ui-p-3 {
        display: table-cell;
    }
}


/* Show priority 4 at 800px (50em x 16px) */

@media screen and (min-width: 50em) {
    th.ui-p-4,
    td.ui-p-4 {
        display: table-cell;
    }
}


/* Show priority 5 at 960px (60em x 16px) */

@media screen and (min-width: 60em) {
    th.ui-p-5,
    td.ui-p-5 {
        display: table-cell;
    }
}


/* Show priority 6 at 1,120px (70em x 16px) */

@media screen and (min-width: 70em) {
    th.ui-p-6,
    td.ui-p-6 {
        display: table-cell;
    }
}

.p15padding {
    padding-top: 15px;
    padding-bottom: 15px;
}